/* 设置页面的基本字体和去除默认的边距 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s; /* 过渡动画效果 */
}

/* 定义暗色模式下的背景和文字颜色 */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* 暗色模式下的文字样式 */
.dark-mode .logo-text {
  fill: #fff; /* 白色文字 */
}

/* 暗色模式下模式切换按钮样式 */
.dark-mode .mode-toggle {
  color: #fff; /* 白色 */
}

.dark-mode .nav-item {
  color: #fff;
}

/* 暗色模式下链接样式 */
.dark-mode a {
  color: #fff;
}

/* 暗色模式下标题样式 */
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
  color: #fff;
}

/* 暗色模式下段落样式 */
.dark-mode p {
  color: #ccc;
}

/* 导航栏容器样式 */
.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px; /* 设置导航栏与外框的边距为8px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 导航项容器样式 */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center; /* 使名称居中 */
}

/* 单个导航项样式 */
.nav-item {
  cursor: pointer;
  position: relative;
  color: #333;
  padding: 4px; /* 设置导航项的内边距 */
}

.nav-item[data-target="tutorial"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 导航项悬浮和焦点状态样式 */
.nav-item:hover,
.nav-item:focus {
  color: #5CE5FF;
}

/* 激活状态的导航项样式 */
.nav-item.active {
  color: #5CE5FF;
}

/* 模式切换按钮样式 */
.mode-toggle {
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
  color: #333;
}

/* 模式切换按钮悬浮样式 */
.mode-toggle:hover {
  color: #5CE5FF;
}

/* 暗色模式下月亮图标的显示和隐藏 */
.fa-moon {
  display: none; /* 默认隐藏月亮图标 */
}

.dark-mode .fa-moon {
  display: inline-block; /* 暗色模式时显示月亮图标 */
}

.dark-mode .fa-sun {
  display: none; /* 暗色模式时隐藏太阳图标 */
}

/* Font Awesome图标样式 */
.search-button i {
  pointer-events: none; /* 防止图标影响点击事件 */
}